<launch>

  <!--<include file="$(find apriltag_ros)/launch/kinectv2_detection.launch" />-->

  <include file="$(find dh_hand_driver)/launch/dh_hand_controller.launch" />
  

  <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" />
  
  <node pkg="dh_hand_driver" type="hand_controller_usr_client" name="dh_hand_driver_client"/>

  <include file="$(find aubo_i5_moveit_config)/launch/moveit_planning_execution.launch">
        <arg name="sim" value="false" />
        <arg name="robot_ip" value="192.168.13.5" />
  </include>
  <node pkg="aubo_arm_usr" type="aubo_3D_struct" name="aubo_3D_struct"/>
  <!--<include file="$(find gpd)/launch/aubo_kinectV2_15channels.launch"/>  -->
  
  
</launch>